.mainSectionContent {
  position: relative;
  display: flex;
  flex-direction: column;
}

.imageGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 182px auto 0px;
  width: 1473.90625px;
  max-width: 85%;
}

@media(max-width: 991px) {
  .imageGroup {
    margin: 150px auto 0px;
  }
}

@media(max-width: 575px) {
  .imageGroup {
    margin: 80px auto 0px;
  }
}

@media(max-width: 383px) {
  .imageGroup {
    margin: 50px auto 0px;
  }
}

.heroImage {
  position: absolute;
  top: 50px;
  right: -256px;
  width: 708px;
  height: 792px;
}

.bannerImage {
  position: absolute;
  top: -182px;
  left: -176px;
  width: 586px;
  height: 666px;
}

.contentRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}

@media(max-width: 1399px) {
  .contentRow {
    flex-direction: column;
    gap: 30px 10px;
  }
}

.contentColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 770px;
  min-width: 0px;
}

@media(max-width: 1399px) {
  .contentColumn {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}

.mainHeaderContent {
  position: relative;
  display: flex;
  align-items: center;
  width: 99.35%;
  font: 700 48px/1.16 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}

@media(max-width: 991px) {
  .mainHeaderContent {
    font-size: 44px;
  }
}

@media(max-width: 479px) {
  .mainHeaderContent {
    font-size: 36px;
  }
}

.mainParagContent {
  position: relative;
  margin: 55.5px 0px 0px;
  width: 99.35%;
  font: 400 32px/1.75 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}

@media(max-width: 991px) {
  .mainParagContent {
    align-items: flex-start;
    font-size: 30px;
  }
}

@media(max-width: 479px) {
  .mainParagContent {
    font-size: 26px;
  }
}

@media(max-width: 383px) {
  .mainParagContent {
    margin: 50px 0px 0px;
  }
}

.learnMoreGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 61px 0px 0px;
  width: 99.35%;
}

@media(max-width: 383px) {
  .learnMoreGroup {
    margin: 50px 0px 0px;
  }
}

.iconImage {
  position: absolute;
  top: 50%;
  left: 271px;
  width: 73px;
  height: 73px;
  transform: translate(0, -50%);
}

.learnMoreTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 32px/1.75 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

@media(max-width: 991px) {
  .learnMoreTitle {
    font-size: 30px;
  }
}

@media(max-width: 479px) {
  .learnMoreTitle {
    font-size: 26px;
  }
}

.decorativeImage {
  position: relative;
  width: 568px;
  min-width: 0px;
  border-radius: 284px 284px 0px 0px;
  object-fit: cover;
}

@media(max-width: 1399px) {
  .decorativeImage {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    max-width: 568px;
  }
}

@media(max-width: 784px) {
  .decorativeImage {
    display: none;
  }
}

@media(max-width: 768px) {
  .heroImage, .bannerImage, .iconImage {
    display: none;
  }
}