.custom-badge1 {
    background-color: #8E6F60 !important;
    color: white !important;
}

.custom-badge2 {
    background-color: #706233 !important;
    color: white !important;
}

.custom-badge3 {
    background-color: #B0926A !important;
    color: white !important;
}

.custom-badge4 {
    background-color: #E1C78F !important;
    color: white !important;
}

.custom-badge5 {
    background-color: #A79277 !important;
    color: white !important;
}
