.content {
    min-height: 100vh;
}

.sidebar{
    color: #FFF;
    /* min-height: 100vh; */
}

.sidebar-phone {
    display: none;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    padding: 10px;
}

.logo-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.6);
}

.logo-text {
    margin-left: 8px;
    color: black;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 800;
}

.logo-textApa{
    margin-left: 10px;
    color: rgba(138, 146, 166, 0.8);
    font-size: 1.4rem;
    font-family: 'Roboto';
    font-weight: 400;

}

.text-topNavar{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 400;
}

.logo-line {
    border-top: 1px solid rgba(237, 238, 242, 1);
    width: 100%;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
        min-height: 100vh;
    }

    .sidebar-phone {
        display: flex;
        bottom: 0;
        float: left;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .sidebar-menu {
        background-color: #FFF;
        overflow: auto;
    }

    .sidebar-menu::-webkit-scrollbar {
        background-color: #f1f1f1;
        width: 4px;
    }
    
    .sidebar-menu::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 25px;
    }
    
    .sidebar-menu::-webkit-scrollbar-thumb:hover {
        background-color: #555; 
    }
}